body {
	background-color: white;
	font-size: 21px; 
}

.form-box-width{ 
	display: inline-block;
	width:100%;
	margin-left: 2%; 
}

.form-group-group{ 
	margin: 3% 3% 3% 3%;
}

.form-group-group .set-text-div-height{  
	height: 38px;
}

.span-vertical-align{ 
  display: inline-block; 
  vertical-align: middle;
  line-height: 38px; 
 }

.box-height-and-font{ 
  height:38px;
  font-size: 18px; 
 }